*{
    margin: 0;
    padding: 0;
    border: 0;
}
.shop{background-image: url(../../assets/rasm17.png);width: 100%; height: 450px;background-repeat: no-repeat;display: flex;justify-content: center;align-items: center;margin-bottom: 201px;}
.tag50{font-size: 50px; font-weight: 700;color: #274C5B;}
.piece1{
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  padding: 80px 40px;
}

.flake1{
  font-size: 48px;
  font-weight: 800;
  color: #274C5B;
  line-height: 120%;
  margin-bottom: 20px;
}

.flake2{
  font-size: 18px;
  color: #274C5B;
  margin-bottom: 30px;
  line-height: 160%;
}

.twoiconwrap{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 420px;
  border-radius: 16px;
  gap: 20px;
  border: 1px solid #EEEEEE;
  margin-top: 20px;
}

.flake3{
  font-size: 22px;
  font-weight: 800;
  color: #274C5B;
  margin-bottom: 5px;
}

.flake4{
  font-size: 16px;
  color: #525C60;
}

.piece1 img{
  max-width: 100%;
  height: auto;
}



/* piece2 */
.piece2-wrapper{
   display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.piece2{
   width: 100%;                
    max-width: 1200px;        
    min-height: 758px;

    background-image: url(../../assets/icon3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 98px;
    border-radius: 30px;

    display: grid;
    place-items: center;        
}
.piece3{
   width: 514px;
    max-width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;

    display: flex;
    justify-content: center;

    padding: 40px;      
}
.flake5{
    font-size: 36px;
    font-weight: 400;
    color: #7EB693;
    line-height: 100%;
    margin-bottom: 5px;
}
.flake6{
    font-size: 50px;
    font-weight: 800;
    color: #274C5B;
    line-height: 100%;
    margin-bottom: 10px;
}
.flake7{
    font-size: 18px;
    font-weight: 400;
    color: #525C60;
    line-height: 165%;
    margin-bottom: 19px;
    margin-top: 19px;
}
.wraplocation{
    display: flex; gap: 8px; align-items: center;
}
.flake8{
    font-size: 18px;
    font-weight: 700;
    color: #525C60;
    line-height: 165%;
}
.flake9{
    font-size: 18px;
    font-weight: 400;
    color: #525C60;
     line-height: 165%;
}

@media (max-width: 768px) {
    .piece1{
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 60px 20px;
  }

  .flake1{
    font-size: 32px;
  }

  .flake2{
    font-size: 16px;
  }

  .twoiconwrap{
    margin: 15px auto 0;
  }


    .piece3{
        width: 100%;
    }

    .flake6{
        font-size: 36px;
    }

    .flake7{
        font-size: 16px;
    }
}