*{
    margin: 0;
    padding: 0;
    border: 0;
}
.shop{background-image: url(../../assets/rasm17.png);width: 100%; height: 450px;background-repeat: no-repeat;display: flex;justify-content: center;align-items: center;}
.tag50{font-size: 50px; font-weight: 700;color: #274C5B;}
/* part1 */
.wrapcards{width: 335px;height: 483px;background-color: #F9F8F8;border-radius: 30px;border: none;align-items: center;}
.shop-image{width: 370px;height: 320px;}


@media (max-width: 768px) {
  .shop {
    min-height: 280px;
    padding: 0 15px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .tag50 {
    font-size: 32px;
    text-align: center;
  }
}
