*{
    margin: 0;
    padding: 0;
    border: 0;
}
.notfound{
    background-image: url(../assets/4041.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.not1{
    font-size: 70px;
    font-weight: 800;
    color: #274C5B;
    line-height: 100%;
}
.not2{
    font-size: 18px;
    font-weight: 600;
    color: #274C5B;
    line-height: 165%;
    margin-bottom: 30px;
}
@media (max-width: 768px){
    .notfound{
        justify-content: center;
        padding: 40px 20px;
        text-align: center;
    }

    .not1{
        font-size: 48px;
    }

    .not2{
        font-size: 16px;
    }

    .wrapbutton{
        justify-content: center;
    }
    .button5{
        padding: 10px 10px;
    }
}
