*{
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 69px 162px 162px 69px;
}
.navbar1{
    display: flex;
    gap: 50px;
    color: #274C5B;
    text-decoration: none;
}
.icons{
    display: flex;
    align-items: center;
    gap: 24px;
}
ul li{
    font-size: 20px;
    font-weight: 700;
    color: #274C5B;
    list-style: none;
    text-decoration: none;
}
.navbarinput {
  width: 100%;
}

.navbarinput input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
      margin: 0;
    padding: 0;
    border: 0;
  }

  .navbar1 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icons {
    justify-content: center;
    flex-direction: column;
  }
  .icons img{
    width: 90px;
    height: 50px;
  }
  ul li{
    font-size: 15px;
    font-weight: 500;
    color: #274C5B;
    list-style: none;
    text-decoration: none;
}
.icon{font-size: 25px;}
.navbarinput input {
    padding: 14px 22px;
    font-size: 17px;
  }
}
.navbarnavbar{
  width: 100%;
  height: 100vh;
}
.navbarnavbar{
  width: 100%;
  height: 100vh;
}
.navbarnavbar{
  width: 100%;
  height: 100vh;
}
.navbarnavbar{
  width: 100%;
  height: 100vh;
}
.navbarnavbar{
  width: 100%;
  height: 100vh;
}.navbarnavbar{
  width: 100%;
  height: 100vh;
}
